@CHARSET "UTF-8";

/* fonts */
@import url(../fonts/google/sans.css?family=Source+Sans+Pro:400,700,400italic,700italic&subset=latin,latin-ext);

/*
addtions to idai-components.css
*/

body {
	margin-top: 60px;
	margin-bottom: 250px;
}

#navbar_left {
	padding-left:0px;
	position:relative
}

#projectLogo img {
	height: 36px;
	margin-top: 8px;
}

#project_title {
	height: 36px;
	margin-top: 8px;
	vertical-align: middle;
	border: 0px none;
	line-height: 36px;
	color: white;
	font-weight: bold;
	font-size: 22px;
}

.navbar-collapse {
	padding-left: 10px;
	height: 0px;
}

.navbar-collapse .navbar-nav:first-of-type li:last-child {
	margin-right: 30px;
}

.navbar-right .dropdown-menu {
	left: 0px
}

#dai_navbar .dropdown-menu > li > a {
    white-space: normal !important;
}

.navbar-nav .glyphicon {
	padding-top: 2px;
	height: 20px
}

.navbar-nav .glyphicon + .nav-label {
	padding-left: 4px
}

.navbar-nav img.nav-icon {
	max-height: 20px;
}

.navbar-nav .longlabel {
	display: none
}

.dropdown-title {
	padding: 3px 20px !important;
	cursor: default;
	color: silver;
	border-bottom: 1px solid silver
}

/* collapsable */
@media (max-width: 992px) {

	.collapse.in {
	    display: block !important;
	    height: 100%;
	    margin-top: 50px;
	}

	.collapse.in .dropdown-menu {
		float: none;
		position: relative !important;
		display: block !important;
		background: rgba(255, 255, 255, 0.5) !important;
		border-top-left-radius: 4px !important;
		border-top-right-radius: 4px !important;
	}

	.collapse.in .caret {
		display: none
	}

	.collapse.in .dropdown-menu::before {
		display: none !important
	}

	.collapse.in .navbar-nav:first-of-type li:last-child,
	.collapse.in .navbar_mostright {
		margin-right: 0px;
		margin-left: 0px;
	}

	.collapse.in .navbar-nav .longlabel {
		display: inline
	}

	.collapse.in .dropdown-title {
		display: none
	}

}

/* footer */
#idai-footer {
	padding: 20px 30px 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #e2e2e2;
	margin-left: 0px;
	margin-right: 0px;
}

#idai-footer p:last-child {
	margin-bottom: 0px

}

.idai-infobox-toggle {
	color:red;
	cursor: pointer;;
	color: #37588e;
}

.idai-infobox-toggle:focus,
.idai-infobox-toggle:hover {
	color: #223657;
	text-decoration: underline;
}

.idai-infobox {
	background-color: white;
	display: none;
	position: fixed;
	top: 5em;
	bottom: 3em;
	left: 3em;
	right: 3em;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	box-shadow: 0 6px 12px rgba(0,0,0,.176);
	padding: 2em;
	overflow-y: auto;
	color: black;
	z-index: 1100;
	text-align: justify;
	max-width: 1024px;
}

.idai-infobox:after {
	content: "\E088";
	position: absolute;
	top: 1em;
	right: 1em;
	color: #286090;
	font-size: 22px;
	font-family: 'Glyphicons Halflings';
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.idai-infobox:focus,
.idai-infobox:hover {
	color: black;
	text-decoration: none;
}

#idai-footer .logoImage {
	height: 60px
}


/* override jquery UI Interaction states */

.ui-widget {
    font-family: sans-serif;
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    border: 0px;
    background: none;
    color: white;
}
.ui-widget-content a {
    color: #333333;
}
.ui-widget-header {
    border: 1px solid #bbbbbb;
    background: none;
    color: #444444;
    font-weight: bold;
}
.ui-widget-header a {
    color: #444444;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {

    background-image: none;
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;

    border: 1px solid transparent;
    border-radius: 3px;
	font-size: x-small;

}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #3383bb;
    text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #bbbbbb;
    background: none;
    font-weight: bold;
    color: #599fcf;
}
.ui-state-hover a,
.ui-state-hover a:hover {
    color: #599fcf;
    text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 0px;
    background: rgba(116,141,181,.9);;
    font-weight: normal;
    color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}
.ui-widget:active {
    outline: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color: #8A6D3B;
    background-image: none;
    background-color: #FCF8E3;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #FAEBCC;
    border-radius: 4px;
}
